---

---

<section class="text-gray-100">
    <header class="w-full mt-4 backdrop-blur-md border-b border-gray-800">
        <div
            class="max-w-6xl mx-auto flex items-center justify-between px-2 py-1"
        >
            <div
                class="flex items </div>
    </header>
</section>
<section class="
            >
            </div>
        </div>
    </header>
</section>
